@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;500&family=Red+Hat+Mono:wght@400;500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;500&display=swap');

:root{
    --fucsia:#DB0076;
    --violeta:#551564;
    --violetaTransparente:#5515647a;
    --blanco:#fff;
    --fucsiaTransparente:#db007571;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Mitr', sans-serif;
}

body{
    background-image: url(../img/Fondex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    max-width: 1440px;
    .header-container{
        
        width: 90%;
        margin-left: 15rem;
        display: flex;
        height: 14vh;
        margin-bottom: 2rem;
       
        
        .header-container__logo{
            
            grid-area: logo;
            display: flex;
            cursor: pointer;
            
            img{
                margin: auto 0;
                width: 15%;
            }

            h1{
                margin:  auto .6rem;
                color:#fff;
                font-size: 1.7rem;
               
            }
        }

        .header-container__ul{
            grid-area:lista;
            display: flex;
            margin: auto;
            
            
            .header-container__li{
                margin-left: 5rem;
                
                list-style: none;
                transition: all .5s;
                position: relative;
                

                    &:hover{
                        transform: scale(1.1);
                        transition: all .5s;
                    }

                a{
                    text-decoration: none;
                    color:#fff;
                    
                }
            }

            .header-container__li__categorias{
                &:hover{
                    transform: scale(1);
                    
                }
            }

            .header-container__li__input{
                display: flex;
                background-color: #fff;
                border-radius: .5rem;
                padding: .2rem;
                input{
                    width: 8rem;
                    height: 1.5rem;
                    border: none;
                    &:focus{
                        outline: none;
                    }
                }
                img{
                    height: 1.5rem;
                    margin: auto;
                    padding-left: .5rem;
                    cursor: pointer;
                }


                &:hover{
                    transform: scale(1);
                    
                }
            }
        }

        

        .header-container__sub-ul{
            position: absolute;
            list-style: none;
            left: 1rem;
            overflow: hidden;
            height: 0;
            
            li{
                transition: all .5s;
                &:hover{
                    transform: scale(1.1);
                    transition: all .5s;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                }

                
            }

            
        }
    }
}

main{
    max-width: 1440px;

    .main-container{
        margin:auto;
        width: 90%;
        color:#fff;
        margin-left: 15rem;

        .main-container__form{
            display: flex;
            flex-direction: column;
            input, textarea, select{
                width: 40%;
                padding: .2rem;
                margin-top: .3rem;
                border-radius: .2rem;
                outline: none;
                border:none;
                opacity: .8;
                color:#000;
                &:focus{
                    outline:solid 1px var(--fucsia);
                }
                resize: none;
            }

            .main-container__form__label-oferta{
                display: flex;
                margin: 0;
                width: 10px;
                background-color: #000;
                padding: 10rem;
                label,input{
                    margin: 0;
                    padding: 10rem;
                    width: 10px;
                    background-color: #000;
                }
            }
            

            .main-container__input_lastchild{
                width: 20%;
                margin-left: 10%;
                background-color: var(--fucsia);
                color:#fff;
                cursor: pointer;
                
            }
        }

        .main-container__articulos, .main-container__vendidos{
            display: flex;
            flex-wrap: wrap;
            
            article{
                margin:auto 6rem 2rem 0;
                width: 25%;
                height: 30rem;
                position: relative;
                transition: all .5s linear;
                perspective: 1000px;
                transform-style: preserve-3d;
                .cara-delantera{
                    padding: 1rem;
                    width: 100%;
                    height: 100%;
                    border-radius: .5rem;
                    display: grid;
                    grid-template-areas: "titulo" "imagen" "precio" "descripcion" "boton";
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 3fr 1fr 2fr 1fr;
                    justify-content: center;
                    background-color: rgb(56, 22, 87);
                    position: absolute;
                    backface-visibility: hidden;
                    .precio{
                        grid-area: precio;
                        margin-top: .2rem;
                        text-align: center;
                        font-size: 1.2rem;
                        letter-spacing: .1rem;
                    }

                    .descripcion{
                        grid-area: descripcion;
                        margin-top: .2rem;
                        
                    }

                    h3{
                        grid-area: titulo;
                        text-align: center;
                        font-size: 1rem;
                        
                    }
                    .imagen{
                        display: block;
                        grid-area: imagen;
                        width: 18rem;
                        margin:auto;
                        margin-top: 1rem;
                        
                    }

                    .equis{
                        display: none;
                    
                    }

                    .oferta{
                        display: none;
                        position: absolute;
                        left: 0;
                        span{
                            background-color: rgba(255, 68, 0, 0.534);
                            padding: .1rem .2rem;
                            border-radius: .2rem;
                        }
                    }

                    .envioGratis{
                    display: none;
                        max-width:50%;
                        position: absolute;
                        
                        left:.8rem;
                        top:12rem;
                        span{
                            background-color: rgb(15, 165, 23);
                            padding: .1rem .3rem;
                            border-radius: .2rem;
                            
                        }
                        
                    }
                    .boton{
                        
                        left: 25%;
                        padding: .2rem;
                        border-radius: .2rem;
                        background-color: rgb(0, 136, 84);
                        border: none;
                        cursor: pointer;
                        width: 50%;
                        margin: auto;
                        color:#fff;
                    }
                }

                .cara-trasera{
                    overflow: hidden;
                    width: 100%;
                    height: 0%;
                    border-radius: .5rem;
                    background-color: green;
                    position: absolute;
                    transform:rotateY(180deg);
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 50%;
                        
                    }

                    p{
                        margin-top: .5rem;
                        width: 80%;
                        text-align: center;
                        font-size:1.2rem;
                    }
                }

                
            }
        }

        .main-container__vendidos {
            margin-top: 2rem;
            
            article{
                height: 25rem;
                .equis{
                    display: block !important;
                    position:absolute;
                    right: .5rem;
                    top:.5rem;
                    padding: .1rem .6rem;
                    background-color: rgba(228, 0, 0, 0.589);
                    border-radius: .4rem;
                    cursor: pointer;
                }
                .boton{
                    display: none;
                }
            }
        }
    }

}

.input_faltan_caracteres{
    border: solid 3px red !important;
}